/target/
.classpath
.project
.settings/
test-output/
debug.log
ExtentReports/
*.html
*.png
rogers_property.dat
.checkstyle
*.orig
.gradle
bin/
build/
gradle
.idea
/build
.settings/org.eclipse.buildship.core.prefs

gradlew

gradlew.bat

fido_property.dat
.idea/
*.iml
/build/